@media only screen and (min-width: 993px) {
  .container {
    width: 95%;
  }

  nav {
    height: 50px;
  }

  nav .input-field {
    label {
      top: -15px;
    }
  }
}

nav .input-field {
  input {
    border-bottom: none !important;
    box-shadow: none !important;
  }
}

.card-content .card-title {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.background-full {
  position: fixed;
  left: 0;
  top: 0;
  opacity: .8;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
